button{
    background-color: #db7c26;
    padding: .5rem 1rem;
    margin: .5rem; /* gestion projets */
}

button > a{
    color: white;
}

table{
    border-collapse: collapse;
}

th{
    border-bottom: 0.2rem solid #db7c26;
    padding: .2rem 0.5rem .2rem 0;
}

td{
    border-bottom: 0.2rem solid #db7c26;
    padding: .5rem;
    text-align: left;
}

th{
    font-weight: 600;
}

tr:nth-child(2n){
    background-color: rgba(219, 124, 38, .2);
}

/*  gestion membre  */
h2{
    color: #db7c26;
}


