h2,h3{
    color: #db7c26;
}

h3 + p{
    padding: 3rem .5rem;
}

.picto{
    background-color: #f7b538;
    width: 26rem;
    margin: auto;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.picto .fa{
    display: block;
    font-size: 4rem;
    margin: 1rem auto;
}

article ~ button > a{
    font-size: 1.6rem;
}

article + button{
    background-color: #f7b538;
    margin: 1rem;
    padding: .5rem 7rem;
}

img{
    max-width: 80%;
    margin: 1.5rem auto;
}

#button a{
    font-size: 1.5rem;
    color: white;
}

#button button{
    background-color: #db7c26;
}

#map{
    height:400px;
    width:100%;
}

/************************************************************************************/
/* Media Queries */
@media only screen and (min-width: 750px) {
    section + img{
        max-height:50rem;
        max-width:80%;
        margin:1.5rem auto;
    }

    section#button{
        padding: 0;
        margin: auto;
    }
}
