h2, label{
    color: #db7c26;
}

label, textarea, input{
   display: block;
    margin: .5rem auto;
    padding: .5rem;
}

label{
    font-weight: 600;
}

[type="submit"]{
    padding: .5rem 2.5rem;
    margin-bottom: 2rem;
}

/* CGU */
a.required{
    font-weight: 700;
}

a.required:hover{
    color: #db7c26;
}

/************************************************************************************/
/* Media Queries */
@media only screen and (min-width: 750px) {
    input,textarea{
        padding: 1.5rem;
        margin: .5rem auto;
    }

}