/*************************************************************************
 Index.html
 *************************************************************************/

/*Section 1*/


/*Carousel*/

.carousel{
    width:100%;
    max-width:1280px;
    max-height:600px;
    font-family: 'Open Sans', sans-serif;
}
.carousel .item {
    position: relative;
}
.carousel .item .imageContainer {
    display:block;
    width:100%;
    position:relative;
    max-height:600px;
}

.carousel .item .imageContainer:before{
    content:"";
    position: absolute;
    top:0px;
    left:0px;
    color:red;
    width:100%;
    height:100%;
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 90%, rgba(0,0,0,0.75) 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75))); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 90%,rgba(0,0,0,0.75) 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 90%,rgba(0,0,0,0.75) 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 90%,rgba(0,0,0,0.75) 100%); !* IE10+ *!*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 90%,rgba(0,0,0,0.75) 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); !* IE6-9 *!*/
}

.carousel .item img {
    display:block;
    width:100%;
}

.carousel .item .overlay {
    z-index: 999;
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    color:#fff;
    padding: 30px 0px 70px 0px;

}

.carousel .item .overlay h3{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 20px;
    width: 70%;
    margin: 0 auto;
}
.carousel .item .overlay p{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    color: black;
}

.carousel .slick-dots{
    position:absolute;
    bottom:5px;
    z-index: 999;
}

.slick-dots li button:before
{
    color: #fff;
}

.slick-dots li.slick-active button:before
{
    color: #fff;
}

/* Article 1 */
article:first-child h3{
    padding: 0;
}

article:first-child a{
    color: #db7c26;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    font-style: normal;
}

article:first-child a:active{
    color: #db7c26;
}

.fa-chevron-right{
    color: white;
    font-size: 1.7rem;
    border-radius: 50%;
    background-color: #db7c26;
    width: 2.5rem;
    height: 2.5rem;
    padding-left: .8rem;
    padding-top: .5rem;
    margin-left: 1rem;
}

.fa-chevron-right:active {
    background: #d8572a;
}

/*Article 2*/

h1{
    font-size: 3rem;
}

h1 + h2{
    font-size: 2rem;
    color: #db7c26;
}



main section:first-child img{
    margin-bottom: 3rem;
}

/*Section 2*/

main:nth-child(2) section span{
    display: block;
    padding-bottom: 0.8rem;
}

main:nth-child(2) section > h2{
    color: #db7c26;
}

p ~ h2{
    font-size: 2rem;
}

p ~ button > a{
    color: white;
}

p ~ button{
    background-color: #db7c26;
}


p ~ button:active{
    color: #db7c26;
    background-color: white;
}


/* Section 3 */
main section:nth-child(4){
    background-image: url("../img/background_striped.png");
    background-size: cover;
    color: white;
    width: 100%;
}

main section:nth-child(4) article{
    background-color: #d8572a;
    margin: 1rem;
    padding: 1rem;
}

main section:nth-child(4) button{
    color: #db7c26;
    background-color: white;
    margin: 2rem;
}

main section:nth-child(4) button:active{
    color: white;
    background-color: #db7c26;
}

/* Section 4 */
main section:nth-child(5) figure{
    margin: 1rem auto;
    border: solid .1rem black;
    width: 35rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
}

main section:nth-child(5) img{
    max-height: 30rem;
    width: auto;
    background-size: cover;
    -webkit-border-radius: .8rem;
    border-radius:.8rem;
}

main section:nth-child(5) .fa-chevron-right{
    padding-left: .4rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
}

main section:nth-child(5) figcaption {
    padding: .5rem;
}

/************************************************************************************/
/* Media Queries */

@media only screen and (min-width: 750px){
    body{
        background-color: #eee;
    }

    main, header{
        background-color: white;
    }
    .carousel{
        max-width:80%;
        margin: auto;
    }
    .carousel .item .overlay{
        padding-bottom: 50px;
    }
    .carousel .item .overlay h3{
        width: 80%;
        font-size: 26px;
        line-height: 30px;
        padding-bottom:10px;
    }
    .carousel .item .overlay p{
        width: 70%;
        font-size:14px;
        line-height: 20px;
    }

    .overlay{
        background: rgba(255, 255, 255, .7);
    }

    .slick-dots li button:before{
       color: #d8572a;
    }


    h1{
        margin-top: 2rem;
    }

    h2{
        text-align: left;
    }

    .align{
        text-align: center;
    }

    p{
        text-align: justify;
    }


    main section:nth-child(5) figure{
        margin: 1rem;
        border: solid .1rem rgba(17, 16, 16, .1);
        display: inline-block;
        max-width: 27%;
        height: 17rem;
        vertical-align: top;
        background-color: rgba(21, 20, 20, 0.05);
    }

    main section:nth-child(5) img{
        max-height: 11rem;
    }
}

@media only screen and (max-width: 650px) {
    .carousel .item .overlay{
        position: relative;
        background: inherit;
        color:#000;
        padding: 25px 20px 40px 20px;
    }
    .carousel .item .overlay h3{
        width: 100%;
        text-align: left;
        color: rgba(0,0,0,0.9);
        font-size: 27px;
        font-weight: 400;
        padding-bottom:10px;
    }
    .carousel .item .overlay p{
        width: 100%;
        text-align: left;
        color: black;
        font-size:17px;
    }

    .carousel .slick-dots{
        /*bottom: .5rem;*/
    }
    .slick-dots li button:before
    {
        color: #000;
    }

    .slick-dots li.slick-active button:before
    {
        color: #000;
    }

}

@media only screen and (max-width: 550px) {
    .carousel .item .overlay{
        padding: 15px 15px 14px 15px;
    }
    .carousel .item .overlay h3{
        font-size: 24px;
        line-height: 29px;
    }
    .carousel .item .overlay p{
        font-size:13px;
        line-height: 21px;
    }
}
