@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Poiret+One');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*
Style Reset
*/
*{
    /* Supprimer toutes les marges */
    margin:0;
    padding: 0;

    /* Intégrer le padding et le border dans la taille des boîtes */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Configurer l'utilisation de 1rem=10px */
html{
    font-size: 62.5%;
}

/*  */
body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

h1,h2,h3{
    font-family: 'Poiret One', cursive;
    margin-bottom: 1.5rem;
    padding: 0 0 0 2rem;
}

h2{
    font-size: 3rem;
}

footer h2{
    font-size: 2.5rem;
}

section:first-child, section:nth-child(2), section:nth-child(4){
    width: 90%;
    margin: auto;
}

p{
    margin: 3rem 2rem;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a, footer{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    font-size:1.2rem;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

section{
    padding: 2rem 0 ;
}

button{
    -webkit-border-radius: 4rem;
    border-radius: 1.2rem;
    padding: .5rem 2rem;
    font-family: inherit;
    border-style: none;

}
/*
 Header
 */

/* nav connexion */

#login li{
    /*display: none;*/
}

/* nav navigation */
header img {
    max-width: 50%;
    float: left;
    margin: 1rem 0 2rem 0;
}

#nav {
    clear: both;

}

#nav li {
    padding : 0.7rem;
    border: 0.15rem solid #db7c26;
    border-radius: .4em;
    background-color: #f7b538;
}

#nav li :not(:last-child){
    margin-bottom: .3rem;

}

/*
 Footer
 */
footer{
    background-color: #db7c26;
    padding: 1rem;
}

footer a{
    display: inline-block;

}

 footer p {
     display: inline-block;
     max-width: 32%;
     vertical-align: middle;
     margin: auto;
 }

 footer img{
     width: 50%;
 }


