@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Poiret+One');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*
Style Reset
*/
*{
    /* Supprimer toutes les marges */
    margin:0;
    padding: 0;

    /* Intégrer le padding et le border dans la taille des boîtes */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Configurer l'utilisation de 1rem=10px */
html{
    font-size: 62.5%;
}

/*  */
body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

h1,h2,h3{
    font-family: 'Poiret One', cursive;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 3rem;
}

footer h2{
    font-size: 2.5rem;
}

section:first-child, section:nth-child(2), section:nth-child(4){
    width: 90%;
    margin: auto;
}

p{
    margin: 1.5rem 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a, footer{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    font-size:1.3rem;
}

img{
    max-width: 100%;
}


section{
    padding: 2rem 0 ;
    margin-bottom: 1.5rem;
}

button{
    padding: 1rem 2rem;
    -webkit-border-radius: 1rem;
    border-radius: 1.5rem;
    border-style: none;
    font-family: Open sans;
    font-weight: 400;
}

aside{
    background-color: #db7c26;
    min-height: .2rem;
    transform: translateY(2.5rem);
}

[type="submit"]{
    padding: .5rem 1rem;
    background-color: #db7c26;
    -webkit-border-radius: 1rem;
    border-radius: 1.5rem;
    border-style: none;
    font-family: Open sans;
    font-weight: 400;
    color: white;
    margin-top: 3rem;
}

figure{
    position: relative;
}

/*
 Header
 */
header {
    position: relative;
    margin-bottom: 5rem;
}

header img{
    max-width: 50%;
    transform: translate(-10%, 10%);
    display: inline-block;
    margin-right: 6rem;
}
/* nav connexion */
#login{
    font-size: 2.5rem;
    line-height: 1.5rem;
    color: #db7c26;
}

#login li{
    list-style: none;
    font-size: 1.5rem;
    margin: .5rem;
}

#login li a {
    font-size: 1.8rem;
}

/* nav menu */
#nav{
    display: none;
}

#burger{
    font-size: 1.8rem;
    color: #d8572a;
    background: #f7b538;
    width: 4rem;
    height: 4rem;
    padding-top: .7rem;
    border: .2rem solid #d8572a;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,10%);
    transform: translate(-50%,10%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#nav li{
    background: #db7c26;
    padding: .5rem;
    margin-bottom: 0.5rem;
}

#nav li:first-child{
    margin-top: 3rem;
}

#nav li:last-child{
    margin-bottom: 3rem;
}

#nav li:active{
    background: #f7b538;
}

#nav li:active a{
    color: #db7c26;
    font-weight: 700;
}

#nav a{
    color: white;
}

/*
 Footer
 */
footer{
    background-color: #db7c26;
    padding: 1rem;
}

footer img{
    max-height: 7rem;
}

footer a{
    display: inline-block;

}
footer h2{
    font-size: 2rem;
    color: white;
    font-weight: 400;
    margin: 0;
}
 footer p {
     display: inline-block;
     max-width: 32%;
     vertical-align: middle;
     margin: auto;
 }

 footer .fa{
     font-size: 2rem;
     color: white;
     margin: 3rem;
 }

/************************************************************************************/
/* Media Queries */
@media only screen and (min-width: 750px) {
    body{
        background-color: #eee;
    }
    header, main {
        max-width: 70%;
        margin: auto;
        background-color: white;
    }

    header img{
        max-width: 35rem;
        transform: translate(-50%,5%);
    }

    #login{
        transform: translate(25%,-85%);
    }

    #nav{
        display: inline-block;
        margin: 3rem auto;
        max-height: 10rem;
        background-color: #db7c26;
        padding: 2rem;
        width: 100%;
    }

    #burger {
        display: none;
    }

    #nav ul{
        background-color: #db7c26;
        margin: 0rem;

    }

    #nav li {
        display: inline-block;
        margin: 0;
    }

    #nav li:first-child{
        margin: 0;
        background: rgba(255, 255, 255, 0);
    }

    #nav li:last-child{
        margin: 0;
    }

    #nav a{
        font-size: 1.5rem;
        padding: 0 1.5rem 0 0;
        border-right: .1rem solid white;
        vertical-align: middle;
    }

    #nav a:hover{
        color: #c32f27;
    }

    aside{
        display: none;
    }

    section{
        max-width: 70%;
        margin: 1rem auto;
    }

} /*Fin des media queries*/




