{% extends "layout.html.twig" %}


{% block content %}
    <section>
        <h2>Qui est Sylvain ? </h2>

            <figure>
                <img src="{{ asset ('img/portrait_sylvain.jpg') }}" alt="Portrait">
            </figure>

            <p style="font-style: italic">Diplômé de l’École Supérieure des Astuces et Trouvailles, Créateur de courants d’air frais en milieu urbain, Expert en réhabilitation de friche, formé à l'École d’art en recyclage d’économie circulaire</p>

            <ul>
                <li style="font-weight: bold">Formation d'éclairagiste
                <li style="font-weight: bold"> Petite mécanique articulée pour le spectacle vivant</li>
                <li style="font-weight: bold">Réalisateur de fictions</li>
                <li style="font-weight: bold">Expérience dans le théâtre optique, théâtre de marionnettes et la danse, en milieux alternatifs et associatifs en tant que régisseur général.</li>

            </ul>
    </section>

    <section>
        <p>Je suis inventeur d’objets inutiles mais d’une importance capitale, ou réalisateur d’objets hybrides et poétiques destinés à interagir avec le public.
            Créatif et plasticien autodidacte, je suis inspiré par l'âge des pionniers et inventeurs en tous genre du 19ème siècle, mus et habités par cette flamme de la passion qui nous enlève et nous élève. </p>

        <p>Spécialisé dans le préhistoire du cinéma et la lumière, dans un monde saturé d’images, je les recycle en détournant des objets visuels de leur fonction première. Ces objets deviennent des prétextes à réunir autour de la création. 
            Je crée et anime des ateliers participatifs autour de savoirs-faire alliant sérigraphie, lumière, recyclage, détournement d'objets, pochoirs, illusion optique, travail du bois et du métal, construction, inventions : de véritables mines d'or pour le bien-être et la créativité, que je souhaite partager avec le public.</p>

        <p>L’idée est de revisiter d’anciennes inventions afin de les traduire en langage actuel, les inscrire dans une époque où les enjeux de communication technologique manquent de poésie. 
        La mise en scène pour des projets de spectacles de rue ou installations poétiques avec les citoyens est également au cœur de mes activités et propositions.
            Par exemple : concert spectaculaire d’îles flottantes sonores et visuelles et chorégraphié sur l’eau, des éoliennes avec des procédés d'illusion empruntés au cinéma, des scénarios et court-métrages, etc...</p>
        <p>Mes installations sont des extensions humaines, utilisant le corps comme énergie.
            Le travail fait main et l'écologie anime mes valeurs.</p> 

        <p>Réveillons le côté enfantin qui est en nous et réalisons ensemble notre art politique de vie. L'énergie et la volonté sont partout autour de nous, utilisons-les !
        </p>
    </section>

{% endblock %}