{% extends "layout.html.twig" %}

{% block content %}
    <section>
        <h1>Faire Play Mobil</h1>
        <h2>"Inventer, s’unir, réaliser".</h2>
        <h3>Et si on inventait une structure citoyenne, libre et gratuite pour fédérer nos talents, ré-inventer notre travail et accéder à nos rêves ?</h3>
    </section>

    <section>
        <h2>Qui sommes-nous ? </h2>

        <p>
            Faire Play Mobile, c'est un collectif pluri-disciplinaire réunissant artistes et artisans (peintres, plasticiens, professeurs, sculpteurs, musiciens,
            chorégraphes...), leur permettant de mutualiser leurs compétences pour la réalisation de projets artistiques, mais aussi associatifs, culturels et solidaires.

            <span>
                Objet ludique et utile, Faire Play Mobile favorise les rencontres, la réinsertion, le partage, la transmission et l'échange des savoirs entre générations, entre couches sociales.
            </span>
            <span>
                Les temps sont durs... Mais Faire Play Mobile permet à des passionnés de se réaliser en dehors de leur métier, à des gens qui ne se seraient jamais croisés de se rencontrer.
            </span>

            <span>- Un réseau itinérant fédérateur de talents</span>

            <span>- respectant l'environnement du quartier et de ses habitants</span>

            <span>- recréant du lien social et introduisant de la créativité au quotidien, toujours de façon ludique</span>

        </p>


        <h2>
            Artistes, artisans, scientifiques, âmes poétiques de tous les pays : unissez-vous !
        </h2>


        <p>Sylvain Girvès, président de l'association</p>

        <button onclick="modalBioSylvain">Qui est Sylvain ?</button>
    </section>

    <section>
        <article>
            <h2>Comment ça marche ? </h2>

            <p> Faire Play Mobile est la plategorme qui poursuit sur le Web l'aventure collective et poétique du réel.
                Nous sommes là pour mettre en relation des porteurs de compétences avec les projets proposés par l'association. Chacun est également le bienvenu pour proposer un projet.

            </p>

            <p>Vous souhaitez proposer ou participer à un projet ?</p>
        </article>
        <button onclick="proposer_un_projet.html.twig">Proposer</button>
        <button onclick="nos_projets.html.twig">Participer</button>

    </section>


    <section>
        <h2>Quelques projets</h2>
        <p>Naviguez parmi nos projets ludiques !</p>
        <a href="nos_projets.html.twig">En savoir plus</a>

        <figure>
            <img src="" alt="Projet 1 : le Segway">
            <figcaption><a href="">Projet<b>Le Segway, cinéma ambulant</b></a></figcaption>
        </figure>

        <figure>
            <img src="#" alt="Projet 2 : la Caravane">
            <figcaption><a href="">Projet<b>La Caravane - La Boîte à Créer</b></a></figcaption>
        </figure>

        <figure>
            <img src="#" alt="Projet 3 : le bicyclettoscope">
            <figcaption><a href="">Projet<b>Le bicyclettoscope</b></a></figcaption>
        </figure>

    </section>

{% endblock %}

