{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
    <h1>Faire Play Mobile</h1>

    <h2>Objet inutile d'une importance capitale ! </h2>

    <h3>Qui sommes-nous ? </h3>

    <p>
        Faire Play Mobile, c'est un collectif pluri-disciplinaire réunissant artistes et artisans (peintres, plasticiens, professeurs, sculpteurs, musiciens,
        chorégraphes...), leur permettant de mutualiser leurs compétences pour la réalisation de projets artistiques, mais aussi associatifs, culturels et solidaires.

        Objet ludique et utile, Faire Play Mobile favorise les rencontres, la réinsertion, le partage, la transmission et l'échange des savoirs entre générations, entre couches sociales.

        Les temps sont durs... Mais Faire Play Mobile permet à des passionnés de se réaliser en dehors de leur métier, à des gens qui ne se seraient jamais croisés de se rencontrer.

        - Un réseau itinérant fédérateur de talents

        - respectant l'environnement du quartier et de ses habitants

        - recréant du lien social et introduisant de la créativité au quotidien, toujours de façon ludique

    </p>


    <h2>
        Artistes, artisans, scientifiques, âmes poétiques de tous les pays : unissez-vous !
    </h2>


        <p>
            "Lorem ipsum dolor"<span>Sylvain Girvès, président de l'association <a href="#" >Qui est Sylvain ?></a></span>
        </p>

        <section>
            <h2>Comment ça marche ? </h2>

            <p> Faire Play Mobile est la plategorme qui poursuit sur le Web l'aventure collective et poétique du réel.
                Nous sommes là pour mettre en relation des porteurs de compétences avec les projets proposés par l'association. Chacun est également le bienvenu pour proposer un projet.

            </p>

            <p>Vous souhaitez proposer un projet ? <a href="#">Ecrivez-nous directement></a></p>

        </section>


        <section>
            <h2>Nos projets</h2>
            <p>Naviguez parmi nos projets ludiques !</p>
            <a href="nos_projets.html">En savoir plus</a>

            <figure>
                <img src="#" alt="Projet 1 : le Segway">
                <figcaption><a href="">Projet<b>Le Segway, cinéma ambulant</b></a></figcaption>
            </figure>

            <figure>
                <img src="#" alt="Projet 2 : la Caravane">
                <figcaption><a href="">Projet<b>La Caravane - La Boîte à Créer</b></a></figcaption>
            </figure>

            <figure>
                <img src="#" alt="Projet 3 : le bicyclettoscope">
                <figcaption><a href="">Projet<b>Le bicyclettoscope</b></a></figcaption>
            </figure>

        </section>

{% endblock %}