{% extends "layout.html.twig" %}

{% block content %}
    <h1>Faire Play Mobile</h1>

    <h2>Qui sommes-nous? / Comment ça marche ? </h2>

    <h3>Objet inutile d'une importance capitale.</h3>

    <p>Cette association créée en octobre 2016 se veut un collectif pluri-disciplinaire réunissant artistes et artisans (peintres, plasticiens, professeurs, sculpteurs, musiciens, chorégraphes...) ,
        leur permettant de mutualiser leurs compétences pour la réalisation de projets artistiques, mais aussi associatifs, culturels et solidaires.Favoriser les rencontres, la réinsertion, le partage, la transmission et l'échange des savoirs, entre générations, entre couches sociales.
        Permettre à des passionnés de se réaliser en dehors de leur métier, à des gens qui ne se seraient jamais croisés de se rencontrer. - un réseau fédérateur de talents et itinérant, « mobile », grâce à une caravane - respectant l'environnement du quartier et de ses habitants
        - recréant du lien social et introduisant de la créativité au quotidien, toujours de façon ludique : recycler par exemple des objets du quotidien</p>


        <section>
            <h2>Nos projets</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sit, veritatis assumenda harum veniam reiciendis labore sapiente perspiciatis consequatur consectetur. Eius, aperiam. Ipsam omnis id eveniet veniam nam, quos quis.</p>
            <a href="nos_projets.html">En savoir plus.</a>

            <figure>
                <img src="#" alt="Projet 1">
                <figcaption><a href="">Projet<b>Nom du project 1</b></a></figcaption>
            </figure>

            <figure>
                <img src="#" alt="Projet 2">
                <figcaption><a href="">Projet<b>Nom du project 2</b></a></figcaption>
            </figure>

            <figure>
                <img src="#" alt="Projet 3">
                <figcaption><a href="">Projet<b>Nom du project 3</b></a></figcaption>
            </figure>

        </section>

{% endblock %}