<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title '' %} - Faire Play Mobile</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Connexion</li>
                <li>Déconnexion</li>
                <li><a href="profil.html">Mon profil</a></li>
            </ul>
        </nav>
        <nav>
            <a href="index.html">Faire Play Mobile</a>
            <i> Menu</i>
            <ul>
                <li><a href="#">Nos projets</a></li>
                <li><a href="#">Proposer un projet</a></li>
                <li><a href="#">Nous soutenir</a></li>
                <li><a href="#">Contactez-nous</a></li>
            </ul>
        </nav>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>

    <footer>
            <h2>N'hésitez pas à nous contacter !</h2>
            <article>
                <i>Icone Fontawesome</i>
                <a href="nous_contacter.html">Nous contacter</a>

                <i>Icone Fontawesome Facebook</i>
                <a href="#">Page Facebook</a>
            </article>

            <article>
                <p>Mentions légales</p>
            </article>
    </footer>
</body>
</html>