{% extends "layout.html.twig" %}


{% block content %}
    <link href="{{ asset('css/bio.css') }}" rel="stylesheet" type="text/css" />
    <h1>Mentions légales</h1>

        <h2>1. Informations légales</h2>

            <p>Ce site Internet est édité par l'association FAIRE PLAY MOBIL (association loi 1901). Siège : 1, rue de l'Oise 75019 Paris</p>

            <p>Directeur de publication : Sylvain Girvès</p>

            <p>Ce site est hébergé par : [nom de l'hébergeur]</p>
            <p>Réalisation et développement : Anthony Lopez – Laurent Prunet – Emmanuelle Carre – Sakina Tzimas – Nour Rakotoson</p>
            <p>Graphisme : Sakina Tzimas</p>
            <p>Rédaction : Emmanuelle Carre</p>


        <h2>2. Objet du site</h2>

            <p>Les présentes conditions générales ont pour objet de définir les modalités et conditions d’utilisation des services proposés sur le site (ci-après : les « Services »), ainsi que de définir les droits et obligations des parties dans ce cadre.
            Elles sont notamment accessibles et imprimables à tout moment par un lien direct en bas de la page d’accueil du site.
            Elles peuvent être complétées, le cas échéant, par des conditions d’utilisation particulières à certains Services. En cas de contradiction, les conditions particulières prévalent sur ces conditions générales.</p>


        <h2>3. Accès au site et aux services</h2>

            <p>Les services sont accessibles, sous réserve des restrictions prévues sur le site :</p>
            <p>à toute personne physique disposant de la pleine capacité juridique pour s’engager au titre des présentes conditions générales. La personne physique qui ne dispose pas de la pleine capacité juridique ne peut accéder au Site et aux Services qu’avec l’accord de son représentant légal ;</p>
            <p>à toute personne morale agissant par l’intermédiaire d’une personne physique disposant de la capacité juridique pour contracter au nom et pour le compte de la personne morale.</p>


        <h2>4. Acceptation des conditions générales</h2>

             <p>L’acceptation des présentes conditions générales est matérialisée par une case à cocher dans le formulaire d’inscription. Cette acceptation ne peut être que pleine et entière. Toute adhésion sous réserve est considérée comme nulle et non avenue. L’utilisateur qui n’accepte pas d’être lié par les présentes conditions générales ne doit pas utiliser les services.</p>


         <h2>5. Inscription sur le site</h2>

            <p>L’utilisation des services nécessite que l’utilisateur s’inscrive sur le site, en remplissant le formulaire prévu à cet effet. L’utilisateur doit fournir l’ensemble des informations marquées comme obligatoires. Toute inscription incomplète ne sera pas validée.
            L’inscription entraîne automatiquement l’ouverture d’un profil au nom de l’utilisateur (ci-après : le « Profil »), lui donnant accès à un espace personnel (ci-après : l’« Espace Personnel ») qui lui permet de gérer son utilisation des Services sous une forme et selon les moyens techniques que FAIRE PLAY MOBIL juge les plus appropriés pour rendre lesdits Services.
            L’utilisateur garantit que toutes les informations qu’il donne dans le formulaire d’inscription sont exactes, à jour et sincères et ne sont entachées d’aucun caractère trompeur.</p>

            <p>Il s’engage à mettre à jour ces informations dans son Espace Personnel en cas de modifications, afin qu’elles correspondent toujours aux critères susvisés.
            L’utilisateur est informé et accepte que les informations saisies aux fins de création ou de mise à jour de son Profil vaillent preuve de son identité. Les informations saisies par l’utilisateur l’engagent dès leur validation.
            L’utilisateur peut accéder à tout moment à son Profil après s’être identifié à l’aide de son identifiant de connexion ainsi que de son mot de passe.
            L’utilisateur s’engage à utiliser personnellement les services et à ne permettre à aucun tiers de les utiliser à sa place ou pour son compte, sauf à en supporter l’entière responsabilité. Il est pareillement responsable du maintien de la confidentialité de son identifiant et de son mot de passe. Il doit immédiatement contacter l'association FAIRE PLAY MOBIL aux coordonnées mentionnées à l’article 1 des présentes s’il remarque que son profil a été utilisé à son insu. Il reconnaît à FAIRE PLAY MOBIL le droit de prendre toutes mesures appropriées en pareil cas.</p>



        <h2>6. Description des services</h2>

            <p>L’utilisateur a accès aux services décrits sur le site, sous une forme et selon les fonctionnalités et moyens techniques que FAIRE PLAY MOBIL juge les plus appropriés.</p>

        <h2>7. Données personnelles</h2>

            <p>L’utilisateur reconnaît et accepte expressément :</p>

             <p>- que les données recueillies sur le site et sur les équipements informatiques de FAIRE PLAY MOBIL font foi de la réalité des opérations intervenues dans le cadre des présentes ;</p>

             <p>- que ces données constituent le seul mode de preuve admis entre les parties</p>

             <p>L’utilisateur peut accéder à ces données dans son Profil.</p>


        <h2>8. Obligations de l'utilisateur</h2>

            <p>Sans préjudice des autres obligations prévues aux présentes, l’utilisateur s’engage à respecter les obligations qui suivent :</p>

            <p>- L’utilisateur s’engage, dans son usage des services, à respecter les lois et règlements en vigueur et à ne pas porter atteinte aux droits de tiers ou à l’ordre public.</p>

            <p>- L’utilisateur reconnaît avoir pris connaissance sur le site des caractéristiques et contraintes, notamment techniques, de l’ensemble des services. Il est seul responsable de son utilisation des services.</p>

            <p>- L’utilisateur est informé et accepte que la mise en œuvre des services nécessite qu’il soit connecté à Internet et que la qualité des services dépend directement de cette connexion, dont il est seul responsable.</p>

            <p>- L’utilisateur est également seul responsable des relations qu’il pourra nouer avec les autres utilisateurs et des informations qu’il leur communique dans le cadre des services. Il lui appartient d’exercer la prudence et le discernement appropriés dans ces relations et communications. L’utilisateur s’engage en outre, dans ses échanges avec les autres utilisateurs, à respecter les règles usuelles de politesse et de courtoisie.</p>

            <p>- L’utilisateur s’engage à faire un usage strictement personnel des services. Il s’interdit en conséquence de céder, concéder ou transférer tout ou partie de ses droits ou obligations au titre des présentes à un tiers, de quelque manière que ce soit.</p>

            <p>L’utilisateur s’engage à fournir à FAIRE PLAY MOBIL toutes les informations nécessaires à la bonne exécution des Services. Plus généralement, l’utilisateur s’engage à coopérer activement avec FAIRE PLAY MOBIL en vue de la bonne exécution des présentes. L’utilisateur est seul responsable des contenus de toute nature (rédactionnels, graphiques, audiovisuels ou autres, en ce compris la dénomination éventuellement choisie par l’utilisateur pour l’identifier sur le site) qu’il diffuse dans le cadre des services (ci-après désignés : les « contenus »).

            Il garantit à FAIRE PLAY MOBIL qu’il dispose de tous les droits et autorisations nécessaires à la diffusion de ces contenus. Il s’engage à ce que lesdits contenus soient licites, ne portent pas atteinte à l’ordre public, aux bonnes mœurs ou aux droits de tiers, n’enfreignent aucune disposition législative ou règlementaire et plus généralement, ne soient aucunement susceptibles de mettre en jeu la responsabilité civile ou pénale de FAIRE PLAY MOBIL.</p>

            <p>L’utilisateur s’interdit ainsi de diffuser, notamment et sans que cette liste soit exhaustive :</p>
            <p>- des contenus pornographiques, obscènes, indécents, choquants ou inadaptés à un public familial, diffamatoires, injurieux, violents, racistes, xénophobes ou révisionnistes,</p>
            <p>- des contenus contrefaisants,</p>
            <p>- des contenus attentatoires à l’image d’un tiers,</p>
            <p>- des contenus mensongers, trompeurs ou proposant ou promouvant des activités illicites, frauduleuses ou trompeuses,</p>
            <p>- des contenus nuisibles aux systèmes informatiques de tiers (tels que virus, vers, chevaux de Troie, etc.),</p>
            <p> et plus généralement des contenus susceptibles de porter atteinte aux droits de tiers ou d’être préjudiciables à des tiers, de quelque manière et sous quelque forme que ce soit.</p>

            <p>L’utilisateur doit prendre les mesures nécessaires pour sauvegarder par ses propres moyens les informations de son Espace Personnel qu’il juge nécessaires, dont aucune copie ne lui sera fournie.

                L’utilisateur est informé et accepte que la mise en œuvre des services nécessite qu’il soit connecté à Internet et que la qualité des services dépend directement de cette connexion, dont il est seul responsable.</p>

        <h2>9. Garanties de l'utilisateur</h2>

            <p>L’utilisateur garantit FAIRE PLAY MOBIL contre toutes plaintes, réclamations, actions et/ou revendications quelconques que FAIRE PLAY MOBIL pourrait subir du fait de la violation, par l’Utilisateur de l’une quelconque de ses obligations ou garanties aux termes des présentes conditions générales.
                Il s’engage à indemniser FAIRE PLAY MOBIL de tout préjudice qu’elle subirait et à lui payer tous les frais, charges et/ou condamnations qu’elle pourrait avoir à supporter de ce fait.</p>


        <h2>10. Comportements prohibés</h2>

            <p>Il est strictement interdit d’utiliser les services aux fins suivantes :</p>

            <p>- l’exercice d’activités illégales, frauduleuses ou portant atteinte aux droits ou à la sécurité des tiers,</p>
            <p>- l’atteinte à l’ordre public ou la violation des lois et règlements en vigueur,</p>
            <p>- l’intrusion dans le système informatique d’un tiers ou toute activité de nature à nuire, contrôler, interférer, ou intercepter tout ou partie du système informatique d’un tiers, en violer l’intégrité ou la sécurité,</p>
            <p>- l’envoi d’emails non sollicités et/ou de prospection ou sollicitation commerciale,</p>
            <p>- les manipulations destinées à améliorer le référencement d’un site tiers,</p>
            <p>- l’aide ou l’incitation, sous quelque forme et de quelque manière que ce soit, à un ou plusieurs des actes et activités décrits ci-dessus,</p>

            <p>et plus généralement toute pratique détournant les services à des fins autres que celles pour lesquelles ils ont été conçus.</p>

            <p>Il est strictement interdit aux Utilisateurs de copier et/ou de détourner à leurs fins ou à celles de tiers le concept, les technologies ou tout autre élément du site de FAIRE PLAY MOBIL.</p>

            <p>Sont également strictement interdits :</p>
            <p>- tous comportements de nature à interrompre, suspendre, ralentir ou empêcher la continuité des Services,</p>
            <p>- toutes intrusions ou tentatives d’intrusions dans les systèmes de FAIRE PLAY MOBIL</p>
            <p>- tous détournements des ressources système du site</p>
            <p>- toutes actions de nature à imposer une charge disproportionnée sur les infrastructures de ce dernier, (v) toutes atteintes aux mesures de sécurité et d’authentification,</p>
            <p>- tous actes de nature à porter atteinte aux droits et intérêts financiers, commerciaux ou moraux de FAIRE PLAY MOBIL ou des usagers de son site, et enfin plus généralement tout manquement aux présentes conditions générales.</p>

            <p>Il est strictement interdit de monnayer, vendre ou concéder tout ou partie de l’accès aux services ou au site, ainsi qu’aux informations qui y sont hébergées et/ou partagées.</p>

        <h2>11. Sanction des manquements</h2>

            <p>En cas de manquement à l’une des dispositions des présentes conditions générales ou plus généralement, d’infraction aux lois et règlements en vigueur par un utilisateur, FAIRE PLAY MOBIL se réserve le droit de prendre toute mesure appropriée et notamment de :</p>
            <p>- suspendre ou résilier l’accès aux services de l’utilisateur, auteur du manquement ou de l’infraction, ou y ayant participé,</p>
            <p>- supprimer tout contenu mis en ligne sur le site</p>
            <p>- publier sur le site tout message d’information que FAIRE PLAY MOBIL jugera utile,</p>
            <p>- avertir toute autorité concernée,</p>
            <p>- engager toute action judiciaire.</p>

        <h2>12. Propriété intellectuelle</h2>

            <p>En vertu de l'article L122-4 du Code de la Propriété intellectuelle, « toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque. Ils peuvent également, s'ils le souhaitent, signaler que les contenus peuvent être reproduits, mais avec mention de la source et éventuellement un lien pointant vers le contenu original. »
                En cas de publication de propos diffamatoires, le président n'est responsable des commentaires des internautes que s'il a eu connaissance de leur contenu avant leur mise en ligne, ou s'il n'a pas agi promptement pour les retirer dès qu'il en a eu connaissance. </p>


        <h2>13. Photos et illustrations</h2>

            <p>Les visuels utilisés sur le site de l'association FAIRE PLAY MOBIL sont la propriété du directeur de la publication. Au cas contraire, une mention précisant l'auteur de la photo accompagnera celle-ci.</p>


{% endblock %}