{% extends "layout.html.twig" %}


{% block content %}

    <link href="{{ asset('css/nos_projets.css') }}" rel="stylesheet" type="text/css" />

<section>
    <h2>Nos projets</h2>
    <p>Projets, créations et inventions pour aller à la rencontre des autres et fabriquer en s'amusant</p>
</section>

<section id="checkbox">
    <form method="GET">

    <p>Catégories :</p>

        <input type="checkbox" name="category[]" value="arts_plastiques"> Arts plastiques<br>
        <input type="checkbox" name="category[]" value="performance"> Performance<br>
        <input type="checkbox" name="category[]" value="ateliers"> Ateliers<br>
        <input type="checkbox" name="category[]" value="photographie"> Photographie<br>

     <p>Statut :</p>

        <input type="checkbox" name="statut[]" value="en_cours"> En cours<br>
        <input type="checkbox" name="statut[]" value="terminer"> Terminé<br>

        <input type="submit" name="Rechercher" value="Rechercher">
    </form>
</section>
    <br>

<section>
    {% for project in projects %}
        {% if project.statut != 'en_attente' %}
        <figure>
            <img src="{{ asset('img/' ~ project.photo) }} " alt="Projet">
            <figcaption>{{ project.name }}</figcaption>
            <button><a href="{{ path('fiche', {projectId: project.id}) }}">Afficher les détails</a></button>
        </figure>
        {% endif %}
    {% endfor %}
</section>
{% endblock %}

