{% extends "layout.html.twig" %}

{% block content %}
    <h2>Découvrez les projets</h2>
    <p>Projets, créations et inventions pour aller à la rencontre des autres et fabriquer en s'amusant</p>

    <figure>
        <img src="#" alt="Projet 1">
        <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>

        <p>Description</p>
        <p>Date de début de projet : </p>
        <p>Date de fin de projet : </p>
        <p>Nombre de participants : </p>
    </figure>

{% endblock %}