{% extends "layout.html.twig" %}


{% block content %}
    <h3>Bonjour {{ user.username }}</h3>
    
    <button><a href="{{ absolute_url('profile/edit') }}">Modification du profil</a></button>
    <button><a href="{{ absolute_url('profile/change-password') }}">Changer de Mot de Passe</a></button>
{% endblock %}
