{% extends "layout.html.twig" %}

{% block content %}
    <h2>Mon profil</h2>

    <h3>Bonjour '#'</h3>

    <section><h4>Voici vos informations de profil : </h4>
        <p>Votre email : '  '</p>
        <p>Vos projets en cours : ' '</p>
    </section>
{% endblock %}