{% extends "layout.html.twig" %}

{% block content %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

    <h2>Mon profil</h2>

    <h3>Bonjour '#'</h3>

    <section><h4>Voici vos informations de profil : </h4>
        <p>Votre email : '  '</p>
        <p>Vos projets en cours : ' '</p>
    </section>
{% endblock %}