{% extends "layout.html.twig" %}
{% block content %}
<h3>Formulaire d'ajout de projets</h3>
<form method="post" enctype="multipart/form-data" action="">

    <label for="nom_projet">Nom de votre projet</label>
    <input type="text" id="nom_projet" name="nom_projet" value="#">

    <label for="categorie">Catégories</label>
    <select name="categorie">
        <option value="arts_plastiques">Arts-Plastiques</option>
        <option value="photographie">Photographie</option>
        <option value="performance">Performance</option>
        <option value="ateliers">Atelier</option>
    </select>

    <label for="description">Description</label>
    <textarea id="description" name="description"></textarea>

    <label for="adresse">Adresse</label>
    <textarea id="adresse" name="adresse"></textarea>

    <label for="code_postal">Code Postal</label>
    <input type="text" id="code_postal" name="code_postal" value="#">

    <label for="ville">Ville</label>
    <input type="text" id="ville" name="ville" value="#">

    <label for="photo">Photo</label>
    <input type="file" id="photo" name="photo"><br><br>

    <label for="nb_participants">Nombre de participants</label><br>
    <input type="text" id="nb_participants" name="nb_participants" value=""><br><br>

    <input type="submit" value="Valider" class="btn">

</form>
{% endblock %}